.productDisplay{
    top: 22rem;
    width: 90%;
    left: 5%;
    height: auto;
    position: absolute;
    background-color: #fff;
    border-radius: 0.4rem;
    border: 0.1rem solid rgb(0 0 0 / 20%);
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputField{
    display: flex;
    align-items: center;
    width: 50%;
}
.inputField input{
    width: 60%;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    border-radius: 4rem;
    border: 0.15rem solid rgb(0 0 0 / 20%);
    font-weight: bold
}
.searchIcon{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -3rem;
    color: rgb(0 0 0 / 30%);
}
.leftItem{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content:flex-end;
    margin-right: 3rem;
}
.addItemBtn{
    color: #024d1b;
    font-size: medium;
    padding: 0.4rem;
    margin: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    border: 2px solid #024d1b ;
    cursor: pointer;
}
.productIcon{
    width: 1.5rem;
    height: 1.5rem;
    color: #024d1b;
}

/* Style For Table */

.table {
    border-collapse: collapse;
    overflow-y: scroll;
}
.tableContainer {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px auto;
}

.table thead {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}
.table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.table th {
    color: rgb(0 0 0 / 40%);
    font-weight: 600;
    /* padding: 0.5rem 2rem; */
    text-align: left;
}

.table tr th:first-child,
.table tr td:first-child {
    width: 2%;
}
.table tr th:last-child,
.table tr td:last-child {
    width: 10%;
}

.table tr th:nth-child(7),
.table tr td:nth-child(7) {
    width: 10%;
}

.table td {
    padding: 15px 0;
}

.table th {
    padding: 10px 0;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 25%;
}

/* .table th:first-child {
    text-align: left;
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
}
.table th:last-child{
    text-align: left;
}
 .table th:nth-child(5) {
    padding-right: 9rem;
} */
